* {
  margin: 0;
  padding: 0;
}

.color {
  border: 1px solid black;
}

.um {
  background-color: black;
  display: inline-block;
}

.dois {
  background-color: red;
  display: inline-block;
}

.tres {
  background-color: green;
  display: inline-block;
}

.quatro {
  background-color: blue;
  display: inline-block;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
  margin-top: -4px;
}

#pixel-board {
  display: inline-block;
  width: 240px;
  height: 240px;
  margin-top: 20px;
}
