* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  margin-top: 50px;
}

.color {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
}

.um {
  background-color: black;
  display: inline-block;
}

.dois {
  background-color: red;
  display: inline-block;
}

.tres {
  background-color: green;
  display: inline-block;
}

.quatro {
  background-color: blue;
  display: inline-block;
}

.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
  margin-top: -4px;
}

#clear-board {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  height: 30px;
  padding: 2px;
}

#pixel-board {
  width: 240px;
  height: 240px;
  text-align: center;
  margin: auto;
}

#color-palette {
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}
